
.text-slider{
              font-family: 'Poppins', sans-serif;
              color: #1f1e1e;
              font-size: 80px;
              height: 100px;
              line-height: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              text-transform: uppercase;
}
.slider{
              height: 100px;
              overflow: hidden;
              padding-left: 15px;
              line-height: 100px;
}
.slider div{
              color: #ff1e1e;
              text-align: left;
              height: 100px;
              box-sizing: border-box;
}
.text-1{
              animation: slider 5s infinite;
}
@keyframes slider{
              0%{margin-top: -400px;}
              5%{margin-top: -200px;}
              33%{margin-top: -200px;}
              38%{margin-top: -100px;}
              66%{margin-top: -100px;}
              71%{margin-top: 0px;}
              100%{margin-top: 0px;}
}